<h1><%= @week.name %></h1>

<div id="sidebar"><%= render :partial => 'weeks/index' %></div>
<div id='main'><% @week.challenges.each do |c| %>
  <p><%= link_to c.title, c %>,  
    <% if current_user.attempts.select {|a| a.challenge_id == c.id }.empty? %>
    submitted by <%= current_user.username %>? No
    <% else %>
    submitted by <%= current_user.username %>? Yes
    <% end %>
    |
    <% if current_user_2.attempts.select {|a| a.challenge_id == c.id }.empty? %>
    submitted by <%= current_user_2.username %>? No
    <% else %>
    submitted by <%= current_user_2.username %>? Yes
    <% end %>
  </p>
<% end %></div>




