<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Mockrates", '/', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <% if pair_users? %>
                <%= render 'layouts/paired_user_header' %>
              <% elsif active_user %>
                <%= render 'layouts/one_user_header' %>
              <% else %>
                <li><%= link_to "Sign up", new_user_path %></li>
                <li><%= link_to "Log in", new_session_path %></li>
             <% end %>
            </ul>
          </nav>
        </div>
      </div>
</header>

  


<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>



