<!DOCTYPE html>
<html>
<head>
  <title>Mockrates</title>
<h2>"Programming is not about what you know. 
It's about what you can GOOGLE." 
~ Mocrates</h2>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<%= yield %>

</body>
</html>
